*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;

}
main{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    color: white;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 7%;
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
header a{
    color: white;
}
#logo{
    display: flex;
    align-items: center;
    width: 50%;
}
#logo ion-icon{
    margin-left: 15%;
    font-size: 35px;
    color: grey;
}
#logo ion-icon:hover{
    cursor: pointer;
}



#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    
}
#menu #navegation{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
#menu #navegation a{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}









#main{
    display: flex;
    flex-direction: row;
    height: 80%;
}
#dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#dados h2{
    color: red;
    margin-bottom: 50px;
}
#dados h1{
    color: rgb(150, 150, 150);
}
#dados p{
    color: grey;
}
#dados a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, red, rgb(121, 17, 17));
}
#dados a p, ion-icon{
    color: white
}

#dados a ion-icon{
    font-size: 25px;
}


#modelo{
    display: flex;
    width: 50%;
    align-items: center;
}


footer{
    height: 13%;
}